<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>
  
    Wigo App &middot; Bootstrap
  
</title>

<!-- Bootstrap core CSS -->
<link href="../../dist/css/styles.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="../../bower_components/html5shiv/dist/html5shiv.js"></script>
  <script src="../../bower_components/respond/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/ico/apple-touch-icon-144-precomposed.png">
                               <link rel="shortcut icon" href="../../assets/ico/favicon.png">
  </head>
  <body class="app-theme-default">
    <a class="sr-only" href="#content">Skip navigation</a>
    <main class="app-content" id="content" role="main">
        <main class="app-content-body">
<section class="container sqa-container-login">
        <div class="sqa-content">
            <h1>Signin <small>WigoApp</small></h1>
        </div>
    </section>
    <section class="container sqa-container-login">
        <div class="sqa-content" id="content">
            <form action="http://127.0.0.1:8499/wigo/login_form" id="login_form" method="post" class="enableAutoFocus">

                <div id="login-form">

                    <input type="hidden" value="" name="came_from">

                    <input type="hidden" name="next">

                    <input type="hidden" name="ajax_load">

                    <input type="hidden" name="ajax_include_head">

                    <input type="hidden" name="target">

                    <input type="hidden" name="mail_password_url">

                    <input type="hidden" name="join_url">

                    <input type="hidden" value="1" name="form.submitted">
                    <input type="hidden" value="0" id="js_enabled" name="js_enabled">
                    <input type="hidden" value="" id="cookies_enabled" name="cookies_enabled">
                    <input type="hidden" value="" id="login_name" name="login_name">
                    <input type="hidden" value="0" id="pwd_empty" name="pwd_empty">

                    <div class="field">

                        

                        <label for="__ac_name">E-Mail</label>

                        

                        <input type="text" id="__ac_name" value="" name="__ac_name" size="15">

                </div>

                <div class="field">

                        <label for="__ac_password">Passwort</label>

                        

                        <input type="password" id="__ac_password" name="__ac_password" size="15">
                </div>

                    

                    <div class="formControls">

                        <input type="submit" value="Anmelden" name="submit" class="context">

                    </div>

                </div>

            </form>        </div>
        </div>
    </section> <!-- /container -->
</main>
    </main>
    <!-- JS and analytics only. -->
    <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../bower_components/jquery/jquery.js"></script>
<script src="../../bower_components/modernizr/modernizr.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../bower_components/holderjs/holder.js"></script>
<script src="../../js/main.js"></script>

<!-- Analytics Piwik (Change URI)
================================================== -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://fuenfzueins.vorwaerts-werbung.de/piwik/" : "http://fuenfzueins.vorwaerts-werbung.de/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 3);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://fuenfzueins.vorwaerts-werbung.de/piwik/piwik.php?idsite=3" style="border:0" alt="" /></p></noscript>

  </body>
</html>