<div class="app-brandbar">
    <div class="app-brandbar-content">
        <div class="app-brand">
            <div class="app-brand-main">
                <a href="#" class="app-brandname">
                    <i class="ion ion-ios-circle-filled app-brand-icon"></i>
                    Ade25
                </a>
                <small class="app-brandname-aside">Status</small>
                <p class="app-brand-text">
                  made by Kreativkombinat
                </p>
            </div>
            <div class="app-brand-aside">
                <div class="app-brandname-aside">Status</div>
            </div>
        </div>
    </div>
</div>