<footer class="app-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <div class="footer-panel">
                    <div class="footer-panel-heading">
                      <div class="h3 footer-panel-title">Panel title</div>
                    </div>
                    <div class="footer-panel-body">
                        <ul class="list-unstyled">
                            <li>Panel content</li>
                            <li>Panel content</li>
                            <li>Panel content</li>
                            <li>Panel content</li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-xs-12 col-lg-4">
                <div class="footer-panel">
                    <div class="footer-panel-heading">
                      <div class="h3 footer-panel-title">Panel title</div>
                    </div>
                    <div class="footer-panel-body">
                        <ul class="list-unstyled">
                            <li>Panel content</li>
                            <li>Panel content</li>
                            <li>Panel content</li>
                            <li>Panel content</li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-xs-12 col-lg-4">
                <div class="footer-panel">
                    <div class="footer-panel-heading">
                      <div class="h3 footer-panel-title">Panel title</div>
                    </div>
                    <div class="footer-panel-body">
                        <ul class="list-unstyled">
                            <li>Panel content</li>
                            <li>Panel content</li>
                            <li>Panel content</li>
                            <li>Panel content</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>