<nav class="container app-page-nav" role="navigation">
    <div class="page-nav">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <a href="#" class="btn btn-danger btn-lg btn-block">Section</a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="#" class="btn btn-primary btn-lg btn-block">Section</a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="#" class="btn btn-success btn-lg btn-block">Section</a>
        </div>
    </div>
    </div>
</nav>
