<div class="app-statusbar">
    <div class="app-status">
        <div class="sq-list">
            <div class="sq-icon">
                <i class="ion ion-ios-checkmark-outline"></i>
            </div>
            <div class="sq-info">
                <h2 class="sq-title">
                    All systems operational
                </h2>
                <p class="sq-text">
                    We continuously monitor the status of our network and all provided
                    services. If there are any interruptions in service, a note will be
                    posted here.
                </p>
            </div>
            <div class="sq-actions">
                <p class="sqa-status-timestamp">Aktualisiert vor 14 Minuten</p>
                <a href="{{ page.base_url }}/open-ticket">
                    <i class="ion ion-ios-reload"></i>
                    reload
                </a>
            </div>
        </div>
    </div>
</div>