<div class="ws-section ws-section-components">
    <div class="panel panel-default ws-panel">
        <div class="panel-heading">
            <h3>Toggleswitch</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item">
            <form action="." method="post">
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="h4">Select this option</div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <label class="switch switch-green">
                          <input type="checkbox" class="switch-input">
                          <span data-off="Off" data-on="On" class="switch-label"></span>
                          <span class="switch-handle"></span>
                        </label>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>