<div class="ws-section ws-section-components">
    <div class="panel panel-default ws-panel">
        <div class="panel-heading">
            <h3>Toggle switches</h3>
        </div>
        <div class="panel-body">
            <p>Demo of css3 transition toggle switches</p>
            <form action="." method="post">
                <label class="switch">
                  <input type="checkbox" class="switch-input">
                  <span data-off="Off" data-on="On" class="switch-label"></span>
                  <span class="switch-handle"></span>
                </label>
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="h4">Select this option</div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <label class="switch">
                          <input type="checkbox" class="switch-input">
                          <span data-off="Off" data-on="On" class="switch-label"></span>
                          <span class="switch-handle"></span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>