<div class="ws-sidebar bs-docs-sidebar" id="ws-sidebar">
    <h3 class="ws-nav-heading ws-sidebar-heading"><a href="/">Ade25 <i class="icon-terminal"></i> <small>WigoApp</small></a></h3>
    <div class="ws-sidebar-block">
        <h4>Information</h4>
        <p><small>zuletzt verändert</small> vor 2 Wochen</p>
    </div>

  <ul class="nav ws-nav bs-docs-sidenav">

    <li><a href="#welcome">Welcome!</a></li>

    <!-- Status Page -->
    <li><a class="nav-header" href="#css">Status Page</a></li>
    <li><a href="#css-overview">Overview</a></li>
    <li><a href="#grid">Components</a></li>
    <li><a href="#grid">Incidents</a></li>

    <!-- Customer Manager -->
    <li><a class="nav-header" href="#css">Hosting</a></li>
    <li><a href="#css-overview">Customers</a></li>
    <li><a href="#grid">Satistics</a></li>

  </ul>
</div>