<div class="ws-sidebar bs-docs-sidebar" id="ws-sidebar">
    <h3 class="ws-nav-heading ws-sidebar-heading"><a href="/">Ade25</a></h3>
    <div class="ws-sidebar-block">
        <h4>
            <a href="http://localhost:8499/wigo/sqa">Dashboard</a>
        </h4>
    </div>

  <ul class="nav ws-nav bs-docs-sidenav">
    <!-- Status Page -->
    <li><a class="nav-header" href="#css">Status Page</a></li>
    <li><a href="#css-overview">Overview</a></li>
    <li><a href="#grid">Components</a></li>
    <li><a href="#grid">Incidents</a></li>

    <!-- Customer Manager -->
    <li><a class="nav-header" href="#css">CRM</a></li>
    <li><a href="#css-overview">Customers</a></li>
    <li><a href="#grid">Domains</a></li>
    <li><a href="#grid">Satistics</a></li>

  </ul>
</div>