<div class="ws-section ws-section-components">
    <div class="panel panel-default ws-panel">
        <div class="panel-heading">
            <h3>Components</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item">
              <div class="row">
                  <div class="col-xs-6 col-lg-3">
                      <h4 class="sqa-component-name">Hosted Pages</h4>
                  </div>
                  <div class="col-xs-6 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-lg-3">
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Operational
                              </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2">
                                Degraded Performance
                              </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option3">
                                Partial Outage
                              </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option4">
                                Major Outage
                              </label>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="row">
                  <div class="col-xs-6 col-lg-3">
                      <h4 class="sqa-component-name">Webmail</h4>
                  </div>
                  <div class="col-xs-6 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-lg-3">
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Operational
                              </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2">
                                Degraded Performance
                              </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option3">
                                Partial Outage
                              </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option4">
                                Major Outage
                              </label>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="row">
                  <div class="col-xs-6 col-lg-3">
                      <h4 class="sqa-component-name">Mailservices</h4>
                  </div>
                  <div class="col-xs-6 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-lg-3">
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Operational
                              </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2">
                                Degraded Performance
                              </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option3">
                                Partial Outage
                              </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-3">
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option4">
                                Major Outage
                              </label>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
