// Custom application specific styles
//--------------------------------------

body {
    //background:url(../assets/img/bg-sand.png) repeat 0 0 #b8aa88;
    padding-top: @navbar-height;
    font-weight: 300;
}

b,
strong {
    font-weight: 400;
}

.app-navbar-brand {
    font-size: ceil((@font-size-base * 1.5));
    color: #fff;
    > .app-brand-icon {
        color: @cu-blue;
    }
}

// Placeholder units usable instead of icon font icons
.app-sign {
    display: inline-block;
    .square(@navbar-height);
    padding: ceil(@line-height-computed / 2);
    border: ceil(@line-height-computed / 4) solid @gray-lighter;
    border-radius: floor(@navbar-height / 2);
    color: @gray-lighter;
    font-size:f loor(@navbar-height / 2);
    text-align: center;
    line-height: 1;
    &.app-sign-large {
        .square((@navbar-height * 2));
        padding: @line-height-computed;
        border-radius: @navbar-height;
        font-size: @navbar-height;
    }
}

.app-no-data {
    margin: @line-height-computed 0;
    padding: ceil(@line-height-computed / 2);
    border: 1px solid @gray-lighter;
    color: @gray-light;
    text-align: center;
     .app-sign {
        display: block;
        .square(@navbar-height);
        margin:0 auto;
        padding:ceil(@line-height-computed / 2);
        border:5px solid @gray-lighter;
        border-radius:floor(@navbar-height / 2);
        color:@gray-lighter;
        font-size:floor(@navbar-height / 2);
        text-align:center;
        line-height:1
    }
    .no-data-title,
    .no-data-text,
    .no-data-btn {
        margin-top: ceil(@line-height-computed / 2);
    }
    .no-data-text {
        margin-top: ceil(@line-height-computed);
    }
    @media (min-width: @screen-sm) {
        text-align: left;
        .no-data-sign {
            margin:0 @line-height-computed;
        }
    }
    &.no-data-panel-error {
        background: @alert-danger-bg;
    }
}

.app-no-data-lg {
    margin: @line-height-computed;
    text-align: center;
    .app-sign {
        .square(200px);
        margin:0 auto @line-height-computed;
        padding:@navbar-height;
        border:5px solid @gray-lighter;
        border-radius:200px;
        color:@gray-lighter;
        font-size:floor(@font-size-base * 5.75);
        text-align:center;
        line-height:1
    }
    @media (min-width: @screen-sm) {
        margin: @navbar-height ceil(@navbar-height * 2.5);
    }
}


.sqa-container-login form {
    padding: @line-height-computed;
    margin-bottom: @line-height-computed;
    border: 1px solid @app-dark;
    .field > label {
        font-weight: 600;
    }
}


// Some eample styles for portlets

.portlet {
  .portletHeader {
    font-size: @font-size-base * 1.5;
    padding: @padding-large-vertical;
    border-bottom: 1px solid @gray-light;
  }
  .portletItem {
    padding: @padding-large-horizontal;
  }
  .portletFooter {
    padding: @padding-large-horizontal;
    font-size: @font-size-small;
  }
}

// wigo styles for listings (e.g. folder summary view)

.tileItem {
  .media();
  .tileHeadline {
    .media-heading();
  }
}


// wigo styles for a HMTL5 based site footer
body > footer {
    margin-top: @line-height-base;
    padding: @line-height-base 0;
    border-top: 1px solid @gray-lighter;
}
