// Settings Bootstrap overrides
// -------------------

// Green (rgb: 142, 192, 94)
@app-primary:                   #8ec05e;
// Red (rgb: 237, 98, 98)
@app-danger:                    #ed6262;
// Gray
@app-gray:                      #5a5f64;
@app-gray-light:                #e3e4e5;

// Example overides
@link-color:                    @app-danger;
// @brand-primary:                 @app-danger;

// Application specific variables
@app-one:               #50a0b0;
@app-two:               #b8aa88;

@app-dark:              #607080;
@app-darker:            #2A323F;
@app-darkest:           #3e3f48;
@app-blue:              #4581ab;

// Color scheme cropup.com

@cu-black:              #393D40;
@cu-blue:               #789EB6;
@cu-red:                #D05E5E;



@app-green: #50a0b0;
@app-coral: lighten(rgb(231, 76, 60), 10%);
@a25-green: #99cc00;

@sqa-operational:       #2FCC66;

@brand-primary:         @app-blue;
@text-color:            @app-darkest;


// Font size
@font-size-base:          16px;

@font-family-sans-serif: 'Lato', "Helvetica Neue", Helvetica, sans-serif;

// Set custom font awesome path
@fa-font-path:    "../../assets/fonts";


@navbar-border-radius:      0;
@navbar-inverse-bg:         @cu-black;


.app-one {
    background: @app-one;
    color: #fff;
}
.app-two {
    background: @app-two;
    color: #fff;
}
.app-dark {
    background: @app-dark;
    color: #fff;
}
.app-darker {
    background: @app-darker;
    color: #fff;
}
.app-darkest {
    background: @app-darkest;
    color: #fff;
}
.app-blue {
    background: @cu-blue;
    color: #fff;
}
