// Status page - frontpage styles
// ------------------------------


.sqa {
    background: #fff;
}

.sqa-container {
    max-width: @container-tablet;
}

.sqa-container-login {
    max-width: 400px;
}

.sqa-hero-unit {
    padding: @line-height-computed @navbar-height;
    margin-bottom: @line-height-computed;
    font-size: (@font-size-base * 1.5);
    font-weight: 200;
    line-height: (@line-height-base * 1.5);
    color: @jumbotron-heading-color;
    // background-color: @app-dark;
    h1 {
      font-size: (@font-size-base * 4.5);
      //color: #fff;
      margin-bottom: @line-height-computed;
    }
    &.sqa-hero-unit-small {
        padding: @line-height-computed / 2;
    }
}

.sqa-status {
    margin-top: floor((@line-height-computed * 2));
    margin-bottom: @navbar-height;
    background: @sqa-operational;
    padding: @line-height-computed;
    color: #fff;
    .sqa-status-name {
        font-size: @font-size-base * 1.25;
    }
}

.sqa-panel {
    border: 1px solid @gray-lighter;
    border-radius: @border-radius-base;
}

.sqa-component {
    padding: @line-height-computed;
    border-bottom: 1px solid @gray-lighter;
}

.sqa-component-name {
    margin-bottom: 0;
}

.sqa-component-info {
    color: @gray-light;
    font-size: @font-size-small;
}

.sqa-component-state {
    font-size: 2rem;
}

.sqa-component-state-operational {
    color: @sqa-operational;
}
.sqa-component-state-public {
    color: @brand-success;
}
.sqa-component-state-private {
    color: @brand-danger;
}

.sqa-footer {
    margin-top: @navbar-height;
}